# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Optional npm cache directory
.npm
.nyc_output
*.lcov
coverage

# Build output (ignored by default, but can be added with `git add -f build/`)
/build
!.keep_build_folder # dummy file if needed

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*
!.env.example

# Cache
.cache
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.eslintcache

# IDE & Editor
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Output of 'npm pack'
*.tgz

# REPL
.node_repl_history


# Framework-specific
.next
.nuxt
dist
public/
.out
.storybook-out

# Misc
tmp/
temp/
